:root {
  --red: #cc302b;
  --green: #429736;
  --yellow: #e2c20e;
  --blue: #2b62aa;
  --light-grey: #ddd;
  --dark-grey: #888;
  --incorrect: #333;
  --light-text: #eee;
  --dark-text: #222;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0.25em 5px 1em;
}

hr {
  color: var(--dark-grey);
  margin: 10px 5px;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--dark-text);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16pt;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.header {
  display: flex;
  height: 50px;
  margin: 0 5px;
  align-items: end;
}

.title {
  flex: 1 0;
}

.instructions-button {
  flex: 0 1 8%;
}

.instructions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 100;
}

.instructions.closed {
  display: none;
}

.instructions-contents {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 12pt;
}

.word-grid {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  gap: 5px;
  margin-bottom: 10px;
}

.word-grid-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.word-grid-row.example {
  justify-content: start;
  padding: 0 5px;
}

.word-grid-cell {
  width: 60px;
  height: 60px;
  border: 2px solid var(--dark-grey);
  text-transform: uppercase;
  font-size: 32pt;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
}

@keyframes cell-flip {
  0% {
    transform: rotateX(0deg);
    color: var(--dark-text);
    background-color: var(--light-grey);
  }

  50% {
    transform: rotateX(90deg);
    color: var(--dark-text);
    background-color: var(--light-grey);
  }

  50.001% {
    transform: rotateX(-90deg);
    color: var(--color);
    background-color: var(--background-color);
  }

  100% {
    transform: rotateX(0deg);
    color: var(--color);
    background-color: var(--background-color);
  }
}

@keyframes cell-flip-resigning {
  0% {
    transform: rotateX(0deg);
    color: transparent;
    background-color: var(--light-grey);
  }

  50% {
    transform: rotateX(90deg);
    color: transparent;
    background-color: var(--light-grey);
  }

  50.001% {
    transform: rotateX(-90deg);
    color: var(--color);
    background-color: var(--background-color);
  }

  100% {
    transform: rotateX(0deg);
    color: var(--color);
    background-color: var(--background-color);
  }
}

.word-grid-cell:nth-child(2) {
  animation-delay: 0.2s;
}

.word-grid-cell:nth-child(3) {
  animation-delay: 0.4s;
}

.word-grid-cell:nth-child(4) {
  animation-delay: 0.6s;
}

.word-grid-cell:nth-child(5) {
  animation-delay: 0.8s;
}

.word-grid-cell.incorrect {
  --background-color: var(--incorrect);
  --color: var(--light-text);
}

.word-grid-cell.correct,
.word-grid-cell.resigning {
  --background-color: var(--green);
  --color: var(--light-text);
}

.word-grid-cell.partial {
  --background-color: var(--yellow);
  --color: var(--dark-text);
}

.word-grid-cell.incorrect,
.word-grid-cell.correct,
.word-grid-cell.partial,
.word-grid-cell.resigning {
  animation-name: cell-flip;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.word-grid-cell.resigning {
  animation-name: cell-flip-resigning;
}

.word-grid-cell.entry {
  --background-color: var(--light-grey);
  --color: var(--dark-text);
}

.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

button {
  position: relative;
  background-color: var(--light-grey);
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;
}

button:not(:disabled)::after {
  content: " ";
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
}

button:hover::after {
  border: 2px solid var(--dark-grey);
}

button:focus::after,
button:active::after {
  border: 2px solid var(--blue);
}

.keyboard-button.letter {
  flex: 0 1 8%;
  transition: background-color 0.2s linear 1s, color 0.2s linear 1s;
}

.keyboard-button.entry:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

.keyboard-button.incorrect {
  background-color: var(--incorrect);
  color: var(--light-text);
}

.keyboard-button.correct {
  background: var(--green);
  color: var(--light-text);
}

.keyboard-button.partial {
  background-color: var(--yellow);
}

.keyboard-button.enter {
  flex: 0 2.5 calc(24% + 4px);
}

.keyboard-button.give-up {
  background-color: var(--red);
  color: var(--light-text);
  font-size: 10pt;
  flex: 0 1.5 12%;
}

.keyboard-button.backspace {
  flex: 0 1.5 12%;
}

.end-footer {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  gap: 4px;
}

.end-footer-message {
  text-align: center;
  padding: 5px;
}

.end-footer-button.play-again {
  background-color: var(--blue);
  color: var(--light-text);
}
