:root {
  --red: #cc302b;
  --green: #48a33c;
  --yellow: #e2c20e;
  --light-grey: #ddd;
  --dark-grey: #888;
  --incorrect: #333;
  --light-text: #eee;
  --dark-text: #222;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--dark-text);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16pt;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  gap: 10px;
}

.header {
  padding: 5px;
  border-bottom: 3px solid var(--dark-grey);
}

.word-grid {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  gap: 5px;
}

.word-grid-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.word-grid-cell {
  width: 60px;
  height: 60px;
  border: 2px solid var(--dark-grey);
  text-transform: uppercase;
  font-size: 32pt;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
}

@keyframes cell-flip {
  0% {
    transform: rotateX(0deg);
    color: var(--dark-text);
    background-color: var(--light-grey);
  }

  50% {
    transform: rotateX(90deg);
    color: var(--dark-text);
    background-color: var(--light-grey);
  }

  50.001% {
    transform: rotateX(-90deg);
    color: var(--color);
    background-color: var(--background-color);
  }

  100% {
    transform: rotateX(0deg);
    color: var(--color);
    background-color: var(--background-color);
  }
}

@keyframes cell-flip-resigning {
  0% {
    transform: rotateX(0deg);
    color: transparent;
    background-color: var(--light-grey);
  }

  50% {
    transform: rotateX(90deg);
    color: transparent;
    background-color: var(--light-grey);
  }

  50.001% {
    transform: rotateX(-90deg);
    color: var(--color);
    background-color: var(--background-color);
  }

  100% {
    transform: rotateX(0deg);
    color: var(--color);
    background-color: var(--background-color);
  }
}

.word-grid-cell:nth-child(2) {
  animation-delay: 0.2s;
  transition-delay: 0.2s;
}

.word-grid-cell:nth-child(3) {
  animation-delay: 0.4s;
  transition-delay: 0.4s;
}

.word-grid-cell:nth-child(4) {
  animation-delay: 0.6s;
  transition-delay: 0.6s;
}

.word-grid-cell:nth-child(5) {
  animation-delay: 0.8s;
  transition-delay: 0.8s;
}

.word-grid-cell.incorrect {
  --background-color: var(--incorrect);
  --color: var(--light-text);
}

.word-grid-cell.correct,
.word-grid-cell.resigning {
  --background-color: var(--green);
  --color: var(--light-text);
}

.word-grid-cell.partial {
  --background-color: var(--yellow);
  --color: var(--dark-text);
}

.word-grid-cell.incorrect,
.word-grid-cell.correct,
.word-grid-cell.partial {
  animation-name: cell-flip;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.word-grid-cell.resigning {
  animation-name: cell-flip-resigning;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.word-grid-cell.entry {
  --background-color: var(--light-grey);
  --color: var(--dark-text);
}

.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 2px;
}

button {
  background-color: var(--light-grey);
  font-size: 12pt;
  text-transform: uppercase;
  height: 45px;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;
}

.keyboard-button.letter {
  flex: 0 1 8%;
  transition: background-color 0.2s linear 1s, color 0.2s linear 1s;
}

.keyboard-button.entry:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

.keyboard-button.incorrect {
  background-color: var(--incorrect);
  color: var(--light-text);
}

.keyboard-button.correct {
  background: var(--green);
  color: var(--light-text);
}

.keyboard-button.partial {
  background-color: var(--yellow);
}

.keyboard-button.enter {
  flex: 0 2.5 calc(24% + 4px);
}

.keyboard-button.give-up {
  background-color: var(--red);
  color: var(--light-text);
  font-size: 10pt;
  flex: 0 1.5 12%;
}

.keyboard-button.backspace {
  flex: 0 1.5 12%;
}

.end-footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.end-footer-message {
  text-align: center;
  padding: 5px;
}

.end-footer-button.play-again {
  background-color: var(--green);
  color: var(--light-text);
}
